<footer>
    <div class="f-info">
        <div class="f-socials">
            <i class="ri-facebook-box-fill"></i>
            <i class="ri-instagram-fill"></i>
            <i class="ri-twitter-fill"></i>
        </div>
    <div class=".f-brand">&copy; Wonderlust Private Limited</div>
    <div class="f-links">
        <a href="/privacy">Privacy</a>
        <a href="/terms">Terms</a>
    </div>
    </div>
</footer>