<% layout('/layouts/boilerplate') -%>
<body>
    <div class="row mb-2 mt-2 col-8 offset-2" style="border: 2px solid red;">
        <!-- Center the form using Bootstrap grid -->
        <div class="col-6 offset-3">
            <h4 class="my-2 offset-3">SignUp for Wanderlust</h4>

            <form method="post" action="/signUp" class="needs-validation" novalidate>
                <!-- Username -->
                <div class="mb-2">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" id="username" name="username" class="form-control">
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                
                <!-- Email -->
                <div class="mb-2">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" id="email" name="email" class="form-control" required>
                    <div class="invalid-feedback">
                        Enter a valid email
                    </div>
                </div>

                <!-- Password -->
                <div class="mb-2">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" id="password" name="password" class="form-control" required>
                    <div class="invalid-feedback">
                        Password is required
                    </div>
                </div>

                <div class="mb-4 text-center">
                    <button type="submit" class="btn btn-success">Sign-In</button>
                </div>
            </form>
        </div>
    </div>
</body>
